@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI();
        } else {
            document.getElementById('status').innerHTML = 'Please log into this app.';
        }
    }

    // This function is called when someone finishes with the Login Button.
    // See the onlogin handler attached to it in the sample code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '485102995357580',
            cookie: true,  // enable cookies to allow the server to access the session
            xfbml: true,  // parse social plugins on this page
            version: 'v3.2' // The Graph API version to use for the call
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        alert('Welcome!  Fetching your information.... ');
        scopeList = 'id,name,birthday,friends';
        FB.api('/me?fields=' + scopeList, function (response) {
            alert('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.id + '!' + '<br>' +
                'BDay : ' + response.birthday;
            console.log(response);
        });
    }

    logInWithFacebook = function () {
        FB.login(function (response) {
            if (response.authResponse) {
                alert('You are logged in &amp; cookie set!');
                checkLoginState();
                // Now you can redirect the user or do an AJAX request to
                // a PHP script that grabs the signed request from the cookie.
            } else {
                alert('User cancelled login or did not fully authorize.');
                checkLoginState();
            }
        }, { scope: 'user_birthday'/*, 'user_friends'*/ });
        return false;
    };

    function GetTestUsersBirthday() {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("GetTestUsersBirthdays", "Home")',
            success: function (result) {
                alert("isSuccess " + result.isSuccess + "<br>Message " + result.errorMsg);
                console.log(result.data);
                var nameLabel = [];
                var ageData = [];
                var backgroundColorList = [];
                var borderColorList = [];
                $(result.data).each(function () {

                    nameLabel.push(this.name);
                    ageData.push(this.age);
                    backgroundColorList.push('rgba(255, 99, 132, 0.2)')
                    borderColorList.push('rgba(255, 99, 132, 1)')
                })
                barChart(ageData, nameLabel, backgroundColorList, borderColorList);
            }
        });
    }

    function barChart(data, label, backgroundColorList, borderColorList) {
        var canvas = $("#dateBarChart");
        var chart = new Chart(canvas, {
            type: 'bar',
            data: {
                labels: label,
                datasets: [{
                    label: 'Age',
                    data: data,
                    backgroundColor: backgroundColorList,
                    borderColor: borderColorList,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="#" onClick="logInWithFacebook();">Log In with JavaScript SDK</a></p>
    @*user_birthday,user_friends*@
    <p><fb:login-button scope="user_birthday" onlogin="checkLoginState();"></fb:login-button></p>
    <p id="status">Stuff here</p>
    <p><input type="button" class="btn btn-primary btn-lg" value="Execute Ajax" onclick="GetTestUsersBirthday()" /></p>
    <p><canvas id="dateBarChart" style="width: 500px; height: 500px"></canvas></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>